.etable {
  width: 100% !important;
  border: 1px solid black;
  border-style: solid;
}

.etablehead {
  background-color: lightgreen;
  color: black;
  font-weight: 800;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}