.etable {
  width: 100% !important;
  border: 1px solid black;
  border-style: solid;
}

.etablehead {
  background-color: lightgreen;
  color: black;
  font-weight: 800;
}

.custom_slider {
  margin-top: 100px;
  margin-bottom: 100px;
}
// .custom_slider_image {
//   height: 100%;
// }
